.font-Inter {
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

.header-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: center;

}

.header-container .logo img {
    width: 139px;
    display: block;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

nav .menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: color 0.3s ease;
}

nav .menu li a:hover {
    color: #30b868;
}

.btn-section .btn {
    background-color: #30b868;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-section .btn:hover {
    background-color: #28a35c;
}