.font-Inter {
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

.header-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: center;

}

.header-container .logo img {
    width: 139px;
    display: block;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

nav .menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
}

nav .menu li a:hover {
    color: #30b868;
}

.btn-section .btn {
    background-color: #30b868;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-section .btn:hover {
    background-color: #28a35c;
}
#banner-section{
        background:
            linear-gradient(rgba(0, 25, 49, 0.06)),
            url('../assets/hero-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 70px 120px 134px 120px;
}

#banner-section .banner-container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    /* border: solid red; */
    text-align: center;
}
.banner-container .earlyacc{
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #28a35c;
    gap: 8px;
    
}
.banner-container .earlyacc .dot {
    width: 16px;
    height: 16px;
    background-color: #469165;
    border-radius: 100%;
    display: inline-block;
    box-shadow: 0 0 0 4px rgba(48, 184, 104, 0.2);
    
}
.banner-container .banner-titel h2{
    font-size: 72px;
    line-height: 84px;
    color:#FFFFFF ;
    align-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}
.banner-container .highlight{
    color: #30B868;
}

.banner-container .sub-titel{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 24px;
    margin-bottom: 32px;
}
.banner-container .banner-btn .btn1{
   font-size:  16px;
   font-weight: 600px;
   background-color: #28a35c;
   color: #FFFFFF;
   padding: 16.6px;
   border: none;
   border-radius: 4px;
   margin-right: 8px;
   cursor: pointer;
}
.banner-container .banner-btn .btn2 {
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    padding: 16.6px;
    border-radius: 4px;
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
}