.font-Inter {
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
}

.header-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: center;

}

.header-container .logo img {
    width: 139px;
    display: block;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

nav .menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
}

nav .menu li a:hover {
    color: #30b868;
}

.btn-section .btn {
    background-color: #30b868;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-section .btn:hover .cta-btn:hover {
    background-color: #28a35c;
}
#banner-section{
        background:
            linear-gradient(rgba(0, 25, 49, 0.06)),
            url('../assets/hero-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 70px 120px 134px 120px;
}

#banner-section .banner-container{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    /* border: solid red; */
    text-align: center;
}
.banner-container .earlyacc{
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #28a35c;
    gap: 8px;
    
}
.banner-container .earlyacc .dot {
    width: 16px;
    height: 16px;
    background-color: #469165;
    border-radius: 100%;
    display: inline-block;
    box-shadow: 0 0 0 4px rgba(48, 184, 104, 0.2);
    
}
.banner-container .banner-titel h2{
    font-size: 72px;
    line-height: 84px;
    color:#FFFFFF ;
    align-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}
.banner-container .highlight{
    color: #30B868;
}

.banner-container .sub-titel{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 24px;
    margin-bottom: 32px;
}
.banner-container .banner-btn .btn1{
   font-size:  16px;
   font-weight: 600px;
   background-color: #28a35c;
   color: #FFFFFF;
   padding: 16.6px;
   border: none;
   border-radius: 4px;
   margin-right: 8px;
   cursor: pointer;
}
.banner-container .banner-btn .btn2 {
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    padding: 16.6px;
    border-radius: 4px;
    margin-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.note-section {
    background-color: #FAFBFC;
    text-align: center;
}

.note-continar .note-header h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    /* padding-top: 45px;
    padding-bottom: 16px; */
}
.note-continar .note-header p {
    font-size: 16px;
    color: #627382;
}

.note-info{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    gap: 16px;
    
}
.note-info .note-card {
    /* border: solid red; */
    padding: 69.5px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 8 0 rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.note-info .note-card .icon-box{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.note-info .note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.note-info .note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.solution-section{
    /* border: solid red; */
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
}
.solution-continar{
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}
.solution-img{
    width: 600px;
    border-radius: 12px;
}
.solution-content{
    width: 700px;
    text-align: left;
}
.solution-content .slabel{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
.solution-content h2 {
    /* border: solid red; */
    font-size: 48px;
    font-weight: 700;
    line-height: auto;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}
.solution-content p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}
.solution-content .solution-list{
    list-style: none;
    padding-left: 0;
}
.solution-content li{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}
.solution-content li img{
    width: 16.25px;
    margin-right: 7.87px;
}
#early-access-section{
    /* border: solid red; */
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
#early-access-section .early-access-container .early-access-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
#early-access-section .early-access-container{
    background-color:#F7F6F2;
    /* border: solid red; */
    border-radius: 12px;
    /* box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.15); */
    box-shadow: inset 0px 15px 20px -10px rgba(0, 0, 0, 0.15);
    padding: 80px 40px;

}
#early-access-section .early-access-container .early-access-content p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.cta-btn{
    padding: 16px;
    font-size: 16px;
    font-weight: 600 ;
    color: #FFFFFF;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
.cta-footer-text{
    font-size: 16px;
    margin-top: 16px;

}